﻿@model IEnumerable<BeatclicSite.Models.Offre>

@{
    ViewData["Title"] = "Galerie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Index" asp-controller="Home">Revenir à l'accueil (bien)</a>
    <a href="/Home/Index">Revenir à l'accueil (pas bien)</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlHttps)
        </th>
        @Html.DisplayNameFor(model => model.Prix)
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlHttps)
            </td>
            <td>
                <img src="@item.UrlHttps" alt="@Html.DisplayFor(modelItem => item.Titre)" /></td>
        </tr>
        
    }
    </tbody>
</table>
